@CHARSET "UTF-8";

body {background: #f0f0f0;}

#app {display: inline-block;}
.rublon-gui iframe {width: 600px; height: 400px; border: solid 1px #cccccc; margin: 1em 0.5em; float: left;}

.transactionResult {padding:1em;margin:1em 0;background:#f0f0f0;border:1px solid #cccccc;}

h2 {clear: both;}

#RublonLoginBoxWidget {margin: 2em auto;}